{% extends '../base.html' %}

{% block title %} {{ product.product_name}} | RentHub {% endblock %}

{% block content %}

<a href="{% url 'product_list' %}" class="text-decoration-none text-dark m-2"><i data-feather='arrow-left' class=" my-3"></i></a>
<div class="container">
	<div class="row">
		<div class="col-md-7">
			{% if images %}
				<div id="product-images" data-bs-interval="false" class="carousel slide">
					<div class="carousel-inner">
					{% for image in images %}
						<div class="carousel-item {% if forloop.first %}active{% endif %}">
							<img src="{{ image.url }}" class="d-block object-fit-cover carousel-img" style="max-height: 500px;">
						</div>
					{% endfor %}
					</div>
						<button class="carousel-control-prev" type="button" data-bs-target="#product-images" data-bs-slide="prev">
							<span class="carousel-control-prev-icon" aria-hidden="true"></span>
							<span class="visually-hidden">Previous</span>
						</button>
						<button class="carousel-control-next" type="button" data-bs-target="#product-images" data-bs-slide="next">
							<span class="carousel-control-next-icon" aria-hidden="true"></span>
							<span class="visually-hidden">Next</span>
						</button>
					</div>
				{% else %}
					<img src="https://www.svgrepo.com/show/508699/landscape-placeholder.svg" alt="No images" class="d-block w-100 object-fit-cover" style="max-height: 500px;">
				{% endif %}
				</div>
				<div class="col-md-5">
					<h4 class="my-4 my-md-2">{{ product.product_name }}</h4>
					{% if reviews %}
					<p class="small my-4 my-md-0"><span class="bold">{{ product.get_average }}/5.0 Rating</span> <span class="grey-text">{{ reviews.count }} User Rating</span></p>
					{% endif %}  
					{% if product.user.town %}
					<p class="small my-2 my-md-4">Pickup From: <span class="bold">{{ product.user.town }}, {{ product.user.post_code }}</span></p>
					{% endif %}
					<h4 class="primary-text bold my-4">${{ product.price }} / day</h4>
					<div class="page-divider-grey my-md-5 my-2"></div>
				{% if is_owner %}
				<div>
					<a href="{% url 'product_update' product.id %}" class="btn btn-primary rounded-pill">Edit</a>
					<a href="{% url 'product_delete' product.id %}" class="btn btn-danger rounded-pill">Delete</a>
				</div>
				{% else %}
				<div class="my-2">
					<h5>Rent</h5>
					{% if messages %}
						{% for message in messages %}
							<p>{{ message }}</p>
						{% endfor %}
					{% endif %}
					<form method="post" action="{% url 'rent_product' product.id %}">
						<table>
							{% load crispy_forms_tags %}
							{% crispy form form.helper %}
						</table>
					</form>
			</div>
		{% endif %}
	</div>
</div>

<div class="container">
		<h4 class="my-4">Description</h4>
		<p>{{ product.description }}</p>

		<h4 class="my-4">What People Say</h4>
		{% if reviews%}
			{% for review in reviews %}
				<div class="container p-0">
						<h6>{{ review.user }}: {{ review.rating }}</h6>
						<p class="small">{{ review.description }}</p>
						
				</div>
			{% endfor %}
		{% else %}
			<p class="my-2 my-md-4">No reviews</p>
		{% endif %}

		<h6 class="mt-5">Categories</h6>
		{% for category in product.category.all %}
			<p class="small">{{ category.name }} </p>
		{% endfor %}
</div>



{% endblock %}
