{% extends '../base.html' %} {% block title %} Products {% endblock %}

{% block content %}
<div class="container">
  <h2 class="my-4">Products</h2>
  <div class="row gy-4">
    {% for product in product_list %}
    <div class="col-md-4">
      <div class="card">
        <h5 class="card-header">{{ product.product_name }}</h5>
        <div class="card-body">
          <p>Price: <span>{{ product.price }}</span></p>
        <p>Description: <span> {{ product.description|slice:":30" }}...</span></p>
        <a href="{% url 'product_detail' product.id %}" class="btn btn-primary">Details</a>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}
