{% extends '../base.html' %}

{% block title %} {{ product.product_name}} | RentHub {% endblock %}

{% block content %}

<a href="{% url 'product_list' %}" class="text-decoration-none text-dark m-2"><i data-feather='arrow-left'
		class=" my-3"></i></a>
<div class="container">
	<div class="row">
		<div class="col-md-7">
			{% if images %}
			<div id="product-images" data-bs-interval="false" class="carousel slide">
				<div class="carousel-inner">
					{% for image in images %}
					<div class="carousel-item {% if forloop.first %}active{% endif %} ">
						<img src="{{ image.image.url }}" class="d-block object-fit-cover carousel-img rounded "
							style="max-height: 500px; width:fit-content;">
					</div>
					{% endfor %}
				</div>
				<button class="carousel-control-prev" type="button" data-bs-target="#product-images"
					data-bs-slide="prev">
					<span class="carousel-control-prev-icon" aria-hidden="true"></span>
					<span class="visually-hidden">Previous</span>
				</button>
				<button class="carousel-control-next" type="button" data-bs-target="#product-images"
					data-bs-slide="next">
					<span class="carousel-control-next-icon" aria-hidden="true"></span>
					<span class="visually-hidden">Next</span>
				</button>
			</div>
			{% else %}
			<img src="https://www.svgrepo.com/show/508699/landscape-placeholder.svg" alt="No images"
				class="d-block w-100 object-fit-cover rounded" style="max-height: 500px;">
			{% endif %}
		</div>
		<div class="col-md-5">
			<h4 class="my-4 my-md-2">{{ product.product_name }}</h4>
			{% if reviews %}
			<p class="small my-4 my-md-2"><span class="bold">{{ product.get_average }}/5.0 Rating </span> <span
					class="grey-text"> {{ reviews.count }} User Rating{{ reviews.count|pluralize:'s' }}</span></p>
			{% endif %}
			{% if product.user.town %}
			<p class="small my-2 my-md-4">Pickup From: <span class="bold">{{ product.user.town }}, {{ product.user.post_code }}</span></p>
			{% endif %}
			<h4 class="primary-text bold my-4">${{ product.price }} / day</h4>
			<div class="page-divider-grey my-md-5 my-2"></div>
			{% if is_owner %}
			<div>
				<a href="{% url 'product_update' product.id %}" class="btn btn-primary rounded-pill"><i data-feather="edit" class="h-75" style="margin-right: 0.5em;"></i>Edit</a>
				<a href="{% url 'product_delete' product.id %}" class="btn btn-success rounded-pill" style="text-decoration: none; margin-right: 0.5em;"><i
						data-feather="trash-2" class="h-75"></i> Delete</a>
			</div>
			{% else %}
			<div class="my-2">
				<h5>Rent</h5>
				{% if messages %}
				{% for message in messages %}
				{% if message.tags == 'success' %}
				<h6 class="alert alert-success">{{ message }}</h6>
				{% elif message.tags == 'error' %}
				<h6 class="alert alert-danger">{{ message }}</h6>
				{% endif %}
				{% endfor %}
				{% endif %}
				<form method="post" action="{% url 'rent_product' product.id %}">
					<table>
						{% load crispy_forms_tags %}
						{% crispy form form.helper %}
					</table>
				</form>
			</div>
			{% endif %}
		</div>
	</div>
	<div class="container">
		<h4 class="my-4">Description</h4>
		<p>{{ product.description }}</p>
	</div>
	<div class="container">
		<h4 class="my-4">What People Say</h4>
		{% if reviews %}
		{% for review in reviews %}
		<div class="card mb-3 col-6">
			<div class="card-body">
				<h5><b>{{ review.rating }}.0/5.0</b></h5>
				<p>{{ review.description }}</p>
			</div>
			<div class="card-footer">
				<div class="small">{{ review.user.first_name }} from {{ review.user.town }}</div>
			</div>
		</div>
		{% endfor %}
		{% else %}
		<p class="my-2 my-md-4">No reviews</p>
		{% endif %}
	</div>
	{% comment %}
	Reference for AJAX/jQuery:
	https://www.brennantymrak.com/articles/fetching-data-with-ajax-and-django
	https://www.geeksforgeeks.org/jquery-ui-date-picker/
	{% endcomment %}
	<script>
		let isUnavailable = []
		const dateToday = new Date()
		$(document).ready(function () {
			$.ajax({
				type: 'GET',
				url: "{% url 'get_unavailable_dates' product_id=product.id %}",
				success: function (response) {
					const unavailableDates = response.unavailable_dates;
					unavailableDates.forEach((date => isUnavailable.push(date)))
				},
				error: function (response) {
					console.log('Error fetching data')
				}
			})
		})
		$(document).ready(function () {
			$(function () {
				$("#date_rent").
					datepicker({
						minDate: dateToday,
						maxDate: 365,
						beforeShowDay: function (date) {
							const string = $.datepicker.formatDate("yy-mm-dd", date);
							return [isUnavailable.indexOf(string) == -1];
						}
					});
			});
			$(function () {
				$("#date_return").
					datepicker({
						minDate: dateToday,
						maxDate: 365,
						beforeShowDay: function (date) {
							const string = $.datepicker.formatDate("yy-mm-dd", date);
							return [isUnavailable.indexOf(string) == -1];
						}
					});
			});
			$('#date_rent').change(function () {
				startDate = $(this).
					datepicker('getDate');
				$("#date_return").
					datepicker("option", "minDate", startDate);
			})
			$('#date_return').change(function () {
				endDate = $(this).
					datepicker('getDate');
				$("#datepicker_date_rent").
					datepicker("option", "maxDate", endDate);
			})
		})
	</script>
	{% endblock %}