{% extends '../base.html' %}

{% block title %} Products | RentHub {% endblock %}

{% block content %}



<h2 class="my-4">Products</h2>


    <div class="row g-4 d-flex align-items-center ">
        <!----------------------  FILTER BY  -------------------------------->
        <div class="accordion col-md-6" id="filter">
            <div class="accordion-item">
                <div class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                        <h5 class="m-0">Filter By</h5>
                    </button>
                </div>
                <div id="collapseOne" class="accordion-collapse collapse" data-bs-parent="#filter">
                    <div class="accordion-body">
                        <!----------------------  CATEGORIES  -------------------------------->
                        <form method="get" action="{% url 'product_list' %}">
                            <h6 class="mt-3">Categories: </h6>
                            {% for category in categories %}
                            <div class="form-check">
                                <input class="form-check-input border rounded-xl" name="categories-filter"
                                    type="checkbox" value="{{ category }}" id="flexCheckDefault">
                                <label class="form-check-label" for="flexCheckDefault">
                                    {{ category }}
                                </label>
                            </div>
                            {% endfor %}
                            <h6 class="mt-3">Price:</h6>
                            <div class="input-group mb-3">
                                <span class="input-group-text">$</span>
                                <input type="text" class="form-control" placeholder="Min" name="min">
                                <span class="input-group-text">$</span>
                                <input type="text" class="form-control" placeholder="Max" name="max">
                            </div>
                            <input type="submit" value="Apply" class="btn btn-primary my-2 rounded-pill">
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!----------------------  SEARCH BAR  -------------------------------->
        <div class="col-md-6">
            <form method="get" action="{% url 'product_list' %}">
                <input name="query" class="w-75 p-2 px-6 border rounded-pill" type="text" value="{{ query }}"
                    placeholder="Find products">
                <button class="btn btn-secondary rounded-pill">Search</button>
            </form>
        </div>
    </div>

    <!----------------------  PRODUCT LIST  -------------------------------->
    <div class="wrapper">
        <div class="container product-list my-4">
            <div class="row g-3">
                {% if no_results %}
                <h6>{{ no_results }}</h6>
                {% else %}
                {% for product in product_list %}
                <div class="col-lg-4">
                    <div class="card " style="height:300px; width:auto;">
                        {% if product.image_set.first.image %}
                        <img src="{{ product.image_set.first.image.url }}"
                            class="w-100 card-img object-fit-cover img-fluid overflow-hidden"
                            alt="{{ product.product_name }}";>
                        {% else %}
                        <img src="https://www.svgrepo.com/show/508699/landscape-placeholder.svg"
                            class="w-100 card-img object-fit-fill border rounded img-fluid overflow-hidden"
                            alt="{{ product.product_name }}";>
                        {% endif %}
                        <div class="card-img-overlay">
                            <h5 class="card-title text-white pb-4" style="text-shadow: 1px 1px 2px #2c2c2c;">{{ product.product_name }}</h5>
                            <div class="container align-items-end justify-content-between h-75 d-flex p-0">
                                <h6 class="card-text text-white mb-2" style="text-shadow: 1px 1px 2px #2c2c2c;"><span>${{ product.price }}.00/day</span></h6>
                                <a href="{% url 'product_detail' product.id %}" class="btn btn-primary rounded-pill mx-3">Rent Now</a>
                            </div>

                        </div>
                    </div>
                </div>
                {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>
</div>

<div class="container d-flex justify-content-center my-5">
    <span class="step-links">
        {% if page_obj.has_previous %}
        <a href="?page=1"><i class="fa-solid fa-circle-chevron-left fa-2xl"></i></a>
        <a href="?page={{ page_obj.previous_page_number }}"><i class="fa-regular fa-circle fa-2xl"></i></a>
        {% endif %}

        <span class="current">
            <i class="fa-solid fa-circle fa-2xl current"></i>
        </span>

        {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}"><i class="fa-regular fa-circle fa-2xl"></i></a>
        <a href="?page={{ page_obj.paginator.num_pages }}"><i class="fa-solid fa-circle-chevron-right fa-2xl"></i></a>
        {% endif %}
    </span>

{% endblock %}