{% extends '../base.html' %}

{% block title %} List a Product | RentHub {% endblock %}

{% block content %}

{% load widget_tweaks %}
<!-- FORM ----------------------------------------------------------------------------->

<div>
    <h1> Add Product </h1>

    <form id="add-product" method="POST" enctype="multipart/form-data">

 
        {% csrf_token %}
        {{ form.as_p }}

        {{ image_form.management_form }}

        {% for formset in image_form %}

        <div class="image-formset">
            {{ formset }}
        </div>
        {% endfor %}

        <p>

        <button type="button" class="btn btn-primary rounded-pill" id="add-image">Add another image</button>
        </p>
        <input type="submit" value="Add Product" class="btn btn-secondary rounded-pill" />

        </form>
    

</div>
<!------------------------------------------------------------------------->

{% endblock %}