{% extends './base.html' %}

{% block title %}
About Us | RentHub
{% endblock %}

{% block content %}

<h2 class="my-4">Want to Know More?</h2>
{% comment %} Creds to chatGPT. We can change all of this - it's just something to fill the page! {% endcomment %}
<div class="container">
    <h5>How it Started</h5>
    <p class="mb-4">Ever wondered who's behind RentHub? Well, it's just us - Cassio, Sierra, and Nics. We're just a trio of pals who got fed up with the whole 'owning stuff' gig. Cassio's the dreamer, always thinking up crazy schemes; Sierra's the one who keeps us from wandering off into the sunset; and Nics? Let's just say they're the tech whiz who makes the magic happen. So, one day, we thought, 'Why not make life easier and let folks rent whatever they fancy?' And ta-da, RentHub was born.</p>

    <h5>The Faces Behind the Names</h5>
    <div class="row">
        <div class="col-md-4 mb-3 mb-md-0">
            <div class="card">
                <img src="https://www.svgrepo.com/show/508699/landscape-placeholder.svg" class="d-block w-100 object-fit-cover" style="max-height: 300px;" class="card-img-top" alt="Cassio">
                <div class="card-body">
                    <p class="card-text"> Cassio - Please add a photo and write some info about yourself here :-)</p>
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-3 mb-md-0">
            <div class="card">
                <img src="https://www.svgrepo.com/show/508699/landscape-placeholder.svg" class="d-block w-100 object-fit-cover" style="max-height: 300px;" class="card-img-top" alt="Sierra">
                <div class="card-body">
                    <p class="card-text">Sierra - Please add a photo and write some info about yourself here :-)</p>
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-3 mb-md-0">
            <div class="card">
                <img src="https://www.svgrepo.com/show/508699/landscape-placeholder.svg" class="d-block w-100 object-fit-cover" style="max-height: 300px;" class="card-img-top" alt="Nics">
                <div class="card-body">
                    <p class="card-text">Nics - Please add a photo and write some info about yourself here :-)</p>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}