{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>
            {% block title %}
            RentHub
            {% endblock %}
        </title>
        <link rel="stylesheet" href="{% static './css/style.css' %}">
        <link rel="stylesheet" href="{% static './css/custom.css' %}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <script defer src="{% static './js/bootstrap.bundle.min.js' %}"></script>
        <!-- Nics add this for nav icon -->
        <script src="https://unpkg.com/feather-icons"></script>
    </head>

    <body>
        <div class="page-container">
            <div class="content-wrap">
            <header>
                <nav>
                    <div class="navbar navbar-expand-md navbar-dark body-bg">
                        <div class="container">
                            <a href="{% url 'home' %}" class="navbar-brand"><img src="{% static './assets/renthub-logo.png'%}" class="renthub-logo-navbar m-2" style="max-width: 100px; height: auto; "></a>
                            <button class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#nav">
                            <div class="navbar-toggler-icon"></div>
                            </button>
                            <div class="collapse navbar-collapse" id="nav">
                                <ul class="navbar-nav ms-auto gap-md-3">
                                    {% if user.is_authenticated %}
                                        <li class="nav-item"><a class="nav-link" href="{% url 'product_list' %}">Products</a></li>
                                        <li class="nav-item"><a class="nav-link" href="{% url 'product_create' %}">Add a Product</a></li>
                                        <li class="nav-item"><a class="nav-link" href="{% url 'about' %}">About</a></li>
                                        <li class="nav-item"><a href="{% url 'profile' username=user.username %}" class="nav-link">Profile</a></li>
                                        <li class="nav-item">
                                
                                            <form method="post" action="{% url 'logout' %}">
                                                {% csrf_token %}
                                                <button type="submit" class="btn btn-dark rounded-pill" style="opacity: 50%;">Log Out</button>
                                            </form>
                                        </li>
                                    {% else %}
                                        <li class="nav-item"><a class="nav-link" href="{% url 'login' %}">Log In</a></li>
                                        <li class="nav-item"><a class="nav-link" href="{% url 'register' %}">Sign Up</a></li>
                                    {% endif %}
                                </ul>
                            </div>
                        </div>
                    </div>
                </nav>
            </header>
        <main class="pb-5 mb-5">
            <div class="container">
                {% block content %}
                {% endblock %}
            </div>
        </main>
        </div>
        <footer class="bg-primary text-light p-md-3">
            <div class="container row row-md-cols-5 py-3" style="margin: 0 auto;">
                <div class="col d-md-block d-none">
                    <a href="{% url 'home' %}" class="navbar-brand"><img src="{% static './assets/renthub-logo-white.png'%}" class="renthub-logo-footer"></a>
                </div>
                <div class="col d-md-block d-none"></div>
                <div class="col">
                    <h6 class="text-white">Products</h6>
                    <ul class="navbar-nav">
                        <li class="nav-item x-small"><a class="nav-link text-white" href="#">How it works</a></li>
                        <li class="nav-item x-small"><a class="nav-link text-white" href="{% url 'product_list' %}">Categories</a></li>
                        <li class="nav-item x-small"><a class="nav-link text-white" href="#">My products</a></li>
                        <li class="nav-item x-small"><a class="nav-link text-white" href="#">Terms and conditions</a></li>
                    </ul>
                </div>
                <div class="col">
                    <h6 class="text-white">Rentals</h6>
                    <ul class="navbar-nav">
                        <li class="nav-item x-small"><a class="nav-link text-white" href="#">My rentals</a></li>
                        <li class="nav-item x-small"><a class="nav-link text-white" href="#">Invite a friend</a></li>
                    </ul>
                </div>
                <div class="col">
                    <h6 class="text-white">About Us</h6>
                    <ul class="navbar-nav">
                        <li class="nav-item x-small"><a class="nav-link text-white" href="#">Who we are</a></li>
                    </ul>
                </div>
            </div>
            <div class="m-md-3 m-2">
                <div class="my-3 page-divider"></div>
                <div class="right text-success x-small">&copy; 2024 RentHub. All Rights Reserved.</div>
            </div>
        </footer>
    </div>

        <script>
            document.addEventListener('DOMContentLoaded', function () {
                const linkEls = document.querySelectorAll('.nav-link');

                linkEls.forEach(linkEl => {
                    linkEl.addEventListener('click', (e) => {
                        linkEls.forEach(el => el.classList.remove('active'));
                    });

                    if (window.location.href === linkEl.href) {
                        linkEl.classList.add('active');
                    }
                });
            });
        </script>
        <script>
            feather.replace();
        </script>
    </body>

</html>
