{% extends './base.html' %}

{% block title %}
Home | RentHub
{% endblock %}

{% block content %}
    <div class="container px-1 pb-1">
        <div class="row gx-5 align-items-start">
            <div class="col-xxl-6" style="margin-top: 5em;">
                <h1>Consume less,<br> experience more.</h1>
                <div style="max-width: 400px; font-size: small; letter-spacing: 1px; opacity: 65%;">
                    <p>Say goodbye to unnecessary clutter and hello to a world of possibilities. Our platform allows you to easily rent a wide
                    range of items – from tools to toys, promoting a sustainable lifestyle by reducing waste and unnecessary consumption.
                    Join the renter's community, save money, and contribute to a greener future.</p>
                </div>
            </div>
        </div>
   
{% endblock %}