{% extends './base.html' %}

{% block title %}
Terms of Service | RentHub
{% endblock %}

{% block content %}

<h2 class="my-4">Terms of Service</h2>

<ol>
  	<li>
		<h5>Acceptance of Terms</h5>
		<p>By accessing or using RentHub (the "Service"), you agree to be bound by these Terms and Conditions.</p>
  	</li>
	<li>
		<h5>Use of Service</h5>
		<p>You must be at least 18 years old to use the Service. You agree to use the Service only for lawful purposes and in accordance with these Terms and Conditions.</p>
	</li>
	<li>
		<h5>Rental Agreement</h5>
		<p>By renting items through RentHub, you agree to the terms of the rental agreement provided by the item owner. RentHub is not a party to any rental agreements and does not assume any liability arising from such agreements.</p>
	</li>
  	<li>
		<h5>User Conduct</h5>
		<p>You agree not to engage in any conduct that violates these Terms and Conditions or is harmful to other users, including but not limited to:</p>
		<ul>
			<li>Using the Service for any illegal or unauthorized purpose.</li>
			<li>Violating any applicable laws or regulations.</li>
			<li>Interfering with the operation of the Service.</li>
			<li>Harassing, intimidating, or harming other users.</li>
		</ul>
  	</li>
	<li>
		<h5>Intellectual Property</h5>
		<p>All content and materials available on the Service, including but not limited to text, graphics, logos, images, and software, are the property of RentHub or its licensors and are protected by copyright, trademark, and other intellectual property laws.</p>
	</li>
	<li>
		<h5>Disclaimer of Warranties</h5>
		<p>The Service is provided on an "as is" and "as available" basis, without any warranties of any kind, express or implied. RentHub makes no warranties or representations about the accuracy or completeness of the content available on the Service.</p>
	</li>
	<li>
		<h5>Limitation of Liability</h5>
		<p>RentHub shall not be liable for any indirect, incidental, special, consequential, or punitive damages, including but not limited to loss of profits, loss of data, or other intangible losses, arising out of or in connection with your use of the Service.</p>
	</li>
	<li>
		<h5>Indemnification</h5>
		<p>RentHub shall not be liable for any indirect, incidental, special, consequential, or punitive damages, including but not limited to loss of profits, loss of data, or other intangible losses, arising out of or in connection with your use of the Service.</p>
	</li>
	<li>
		<h5>Changes to Terms</h5>
		<p>RentHub reserves the right to modify or revise these Terms and Conditions at any time, without prior notice. Your continued use of the Service after any changes to these Terms and Conditions will constitute your acceptance of such changes.</p>
	</li>
	<li>
		<h5>Indemnification</h5>
		<p>RentHub shall not be liable for any indirect, incidental, special, consequential, or punitive damages, including but not limited to loss of profits, loss of data, or other intangible losses, arising out of or in connection with your use of the Service.</p>
	</li>
</ol>

If you have any questions about these terms and conditions, please contact us at renthub@gmail.com
</p>

{% endblock %}