:root {
    --primary: #6d6ffe;
    --secondary: #f7b832;
    --success: #9cd4ec;
    --danger: #f76d32;
    --dark: #2c2c2c;
    --light-subtle: #eeede8;
}

main {
    max-width: 1200px;
    margin: 0 auto;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    cursor: pointer;
}

.asteriskField {
    display: none;
}

body {
    font-family: 'Helvetica', 'Arial', sans-serif;
}

.renthub-logo-navbar {
    height: 30px;
}

.renthub-logo-footer {
    height: 45px;
}

.page-divider {
    width: 100%;
    height: 1px;
    background-color: var(--success);
}

.page-divider-grey {
    width: 100%;
    height: 1px;
    background-color: var(--light-subtle);
}

.x-small {
    font-size: 0.75rem;
}

.carousel-img {
    height: 550px;
    width: 100%;
    object-position: center;
}

.page-container {
    position: relative;
    min-height: 100vh;
}

.content-wrap {
    padding-bottom: 300px;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 300px;
}

.bold {
    font-weight: 600;
}

.grey-text {
    color: #6d6d6d;
}

.primary-text {
    color: var(--primary);
}

.logout,
.search {
    color: #7e7e7e;
    text-decoration: none;
}

.logout:hover,
.search:hover {
    color: #000000;
    text-decoration: none;
}

.fa-solid,
.fa-regular {
    color: var(--light-subtle);
}

.current {
    color: var(--primary);
}

.product-list {
    min-height: 750px;
}

.r-logo {
    background-image: url('../assets/R.png');
    background-repeat: no-repeat;
    background-size: 340px;
    margin-bottom: -20px;
    background-position: bottom right;
}

.section-two {
    background-color: var(--light-subtle);
}

.section-three {
    background-color: var(--success);
}

.full-width {
    width: 100vw;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
}

.bike-bg {
    background-color: #d7ad87;
}
