{% extends '../base.html' %}
{% load user_dashboard %}

{% block title %} {{ user.username }} Dashboard {% endblock %}

{% block content %}

<div class="card-action">
    <a href="{% url 'profile_detail' username=user.username %}" class="btn btn-primary">Profile</a>
    <a href="{% url 'profile_dashboard' username=user.username %}" class="btn btn-primary">Dashboard</a>
    <a href="{% url 'profile_update' username=user.username %}" class="btn btn-primary">Update Profile</a>
    <a href="{% url 'product_list' %}" class="btn btn-secondary">Back to Products</a>
</div>

<h1>{{ user.username }} Dashboard</h1><br>
<div class="container d-flex">
    <div class="container col-9">
        <h2 class="my-4">My Products </h2>
        <div class="row gy-4">
        {% user_products user as products %}
        {% for product in products %}
            <div class="col-12 col-md-6">
                <div class="card">
                    <div class="row g-0">
                        <div class="col-4">
                            {% if product.image_set.first %}
                                <img src="{{ product.image_set.first.url }}" class="img-fluid rounded-start h-100 object-object-fit-contain" alt="{{ product.product_name }}">
                            {% else %}
                                <img src="https://www.svgrepo.com/show/508699/landscape-placeholder.svg" class="img-fluid rounded-start h-100 object-fit-cover" alt="{{ product.product_name }}">
                            {% endif %}
                        </div>
                        <div class="col-8">
                            <div class="card-body mx-2">
                                <h5 class="card-title">{{ product.product_name }}</h5>
                                <p>Price: <span>${{ product.price }}</span></p>
                                <div class="sticky-bottom"><a href="{% url 'product_detail' product.id %}" class="btn btn-primary">Details</a></div>
                                {% if product.id in rented_product_ids %}
                                    <span class="badge" style="background-color: #FFC107; color: #ffffff;">Renting</span>
                                {% else %}
                                    <span class="badge" style="background-color: #15d22e; color: #ffffff;">Available</span>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        <h2>Renting History</h2>
        <ul class="list-group">
            {% user_rent user as rentings %}
            {% for renting in rentings %}
            <li class="list-group-item">
                {{ renting.product.product_name }} - {{ renting.date_rent }} - {{ renting.date_return }}
                {% if now|date:"Y-m-d" >= renting.date_return|date:"Y-m-d" %}
                    <span class="badge" style="background-color: #15d22e; color: #ffffff;">Returned</span>
                {% else %}
                    <span class="badge" style="background-color: #d2158a; color: #ffffff;">Ongoing</span>
                {% endif %}
            </li>
            {% endfor %}
        </ul>
        <div class="card-footer mt-3">
            <div class="card-action">
                <a href="{% url 'profile_detail' username=user.username %}" class="btn btn-primary">Profile</a>
                <a href="{% url 'profile_update' username=user.username %}" class="btn btn-primary">Update Profile</a>
                <a href="{% url 'product_list' %}" class="btn btn-secondary">Back to Products</a>
            </div>
        </div>
    </div>
</div>

{% endblock %}