{% extends '../base.html' %}
{% load user_dashboard %}

{% block title %} Profile | RentHub {% endblock %}

{% block content %}

<div class="container mt-4">
    <div class="row">
        <div class="col-md-3 mt-4">
            <nav class="navbar navbar-light bg-light">
                <div class="container-fluid">
                    <div class="row">
                        <!-- ########################## -->
                        <nav id="sidebar" class="col bg-light sidebar">
                            <div class="position-sticky">
                                <ul class="nav flex-column">
                                    <li class="nav-item">
                                        <a href="{% url 'profile_dashboard' username=request.user.username %}"
                                            class="nav-link active" aria-current="page">
                                            <i data-feather="home"></i>
                                            <span class="ml-2">Dashboard</span>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="{% url 'profile' username=request.user.username %}" class="nav-link"
                                            aria-current="page">
                                            <i data-feather="user"></i>
                                            <span class="ml-2">Profile</span>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="{% url 'profile_update' username=request.user.username %}" class="nav-link"
                                            aria-current="page">
                                            <i data-feather="users"></i>
                                            <span class="ml-2">Update Details</span>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="{% url 'profile_detail' username=request.user.username %}" class="nav-link" aria-current="page">
                                            <i data-feather="zoom-in"></i>
                                            <span class="ml-2">Account Details</span>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="{% url 'product_list' %}" class="nav-link" aria-current="page">
                                            <i data-feather="shopping-cart"></i>
                                            <span class="ml-2">Products</span>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="{% url 'product_create' %}" class="nav-link" aria-current="page">
                                            <i data-feather="plus-square"></i>
                                            <span class="ml-2">Add Product</span>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <form method="post" action="{% url 'logout' %}">
                                            {% csrf_token %}
                                            <button class="btn btn-link p-0 nav-link"><div class="" style="padding: 8px 16px;"><i data-feather="log-out" class="logout"></i> Log Out</div></button>
                                        </form>
                                    </li>
                                </ul>
                            </div>
                        </nav>
                    </div>
                </div>
            </nav>
        </div>
        <div class="col-md-9">
            <h2 class="my-4">My Listings</h2>
            <div class="row row-cols-1 row-cols-md-2 g-3">
                {% user_products user as products %}
                {% for product in products %}
                <div class="col">
                    <div class="card">
                        {% if product.image_set.first.image %}
                        <img src="{{ product.image_set.first.image.url }}" class="card-img object-fit-cover" alt="{{ product.product_name }}" style="height: 300px; width: 100%;">
                        {% else %}
                        <img src="https://www.svgrepo.com/show/508699/landscape-placeholder.svg" class="card-img object-fit-cover" alt="{{ product.product_name }}" style="height: 300px; width: 100%;">
                        {% endif %}
                        <div class="card-img-overlay d-flex align-content-between justify-content-between">
                            <h5 class="card-title text-white">{{ product.product_name }}</h5>
                            <div class="d-flex flex-column align-self-end">
                                <a href="{% url 'product_detail' product.id %}" class="btn btn-primary rounded-pill my-2">Details</a>
                            {% if product.id in rented_product_ids %}
                                {% if now|date:"Y-m-d" < product.renting_set.last.date_return|date:"Y-m-d" and now|date:"Y-m-d" < product.renting_set.last.date_rent|date:"Y-m-d" %} 
                                    <span class="badge" style="background-color: #f7b832; color: #ffffff; width: 75.59px;">Booked</span>
                                {% elif now|date:"Y-m-d" <= product.renting_set.first.date_return|date:"Y-m-d" %} 
                                    <span class="badge" style="background-color: #f76d32; color: #ffffff; width: 75.59px;">Rented</span>
                                {% elif now|date:"Y-m-d" > product.renting_set.last.date_return|date:"Y-m-d" %}
                                    <span class="badge" style="background-color: #15d22e; color: #ffffff; width: 75.59px;">Available</span>
                                {% endif %}
                            {% else %}
                                <span class="badge" style="background-color: #15d22e; color: #ffffff; width: 75.59px;">Available</span>
                            {% endif %}
                            </div>   
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
            <div class="card mt-4">
                <div class="card-body">
                    <h3>Renting History</h3>
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">Product</th>
                                <th scope="col">Pickup Date</th>
                                <th scope="col">Return Date</th>
                                <th scope="col">Total Price</th>
                                <th scope="col">Booking Status</th>
                                <th scope="col">Review Status</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% user_rent user as rentings %}
                        {% for renting in rentings %}
                            <tr>
                                <td><a href="{% url 'product_detail' renting.product.pk %}">{{ renting.product.product_name }}</a></td>
                                <td>{{ renting.date_rent }}</td>
                                <td>{{ renting.date_return }}</td>
                                <td>${{ renting.total_price }}</td>
                                {% comment %} Booking Status {% endcomment %}
                                {% if now|date:"Y-m-d" < renting.date_return|date:"Y-m-d" and now|date:"Y-m-d" < renting.date_rent|date:"Y-m-d" %}
                                    <td><span class="badge" style="background-color: #f7b832; color: #ffffff; width: 75.59px;">Reserved</span></td>
                                {% elif now|date:"Y-m-d" >= renting.date_return|date:"Y-m-d" %}
                                    <td><span class="badge" style="background-color: #f76d32; color: #ffffff; width: 75.59px;">Returned</span></td>
                                {% else %}
                                    <td><span class="badge" style="background-color: #15d22e; color: #ffffff; width: 75.59px;">Ongoing</span></td>
                                {% endif %}
                                {% comment %} Review Status {% endcomment %}
                                {% if renting.product.review_set.exists %}
                                    <td><span class="badge" style="background-color: #15d22e; color: #ffffff;">Review Left</span></td>
                                {% elif now|date:"Y-m-d" >= renting.date_return|date:"Y-m-d" %}
                                    <td><a href="{% url 'review_create' pk=renting.product.pk %}"><span class="badge" style="background-color: #f7b832; color: #ffffff;">Leave Review</span></a></td>
                                {% else %}
                                    <td><i data-feather="x" style="height: 20px;"></i></td>
                                {% endif %}
                            </tr>
                                {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}