{% extends '../base.html' %}
{% load user_dashboard %}

{% block title %} {{ profile.username }} Profile {% endblock %}

{% block content %}

<div class="container mt-4">
    <div class="row">
        <div class="col-md-3">
            <nav class="navbar navbar-light bg-light">
                <div class="container-fluid">
                    <div class="row">
                        <!-- ########################## -->
                        <nav id="sidebar" class="col bg-light sidebar">
                            <div class="position-sticky">
                                <ul class="nav flex-column">
                                    <li class="nav-item">
                                        <a href="{% url 'profile_dashboard' username=request.user.username %}"
                                            class="nav-link active" aria-current="page">
                                            <i data-feather="home"></i>
                                            <span class="ml-2">Dashboard</span>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="{% url 'profile' username=request.user.username %}" class="nav-link"
                                            aria-current="page">
                                            <i data-feather="user"></i>
                                            <span class="ml-2">Profile</span>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="{% url 'profile_update' username=request.user.username %}" class="nav-link"
                                            aria-current="page">
                                            <i data-feather="users"></i>
                                            <span class="ml-2">Update Profile</span>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="{% url 'product_list' %}" class="nav-link" aria-current="page">
                                            <i data-feather="shopping-cart"></i>
                                            <span class="ml-2">Products</span>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="{% url 'product_create' %}" class="nav-link" aria-current="page">
                                            <i data-feather="plus-square"></i>
                                            <span class="ml-2">Add Product</span>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <form method="post" action="{% url 'logout' %}">
                                            {% csrf_token %}
                                            <span class="ml-2 d-inline-block logout nav-link"><i data-feather="log-out" class="logout"></i> Log Out</span>
                                        </form>
                                    </li>
                                </ul>
                            </div>
                        </nav>
                    </div>
                </div>
            </nav>
        </div>
        <div class="col-md-9">
            <div class="card">
                <div class="card-header">
                    <h1 class="mb-4">{{ profile.username }} Profile</h1>
                </div>
                <div class="card-body">
                    <img src="{{ profile.avatar }}" alt="{{ profile.username }} Avatar" class="img-fluid mb-3">
                    <ul class="list-group">
                        <li class="list-group-item"><strong>Username:</strong> {{ profile.username }}</li>
                        <li class="list-group-item"><strong>Email:</strong> {{ profile.email }}</li>
                        <li class="list-group-item"><strong>Address:</strong> {{ profile.address }}</li>
                        <li class="list-group-item"><strong>Town/City:</strong> {{ profile.town }}</li>
                        <li class="list-group-item"><strong>County:</strong> {{ profile.county }}</li>
                        <li class="list-group-item"><strong>Post Code:</strong> {{ profile.post_code }}</li>
                        <li class="list-group-item"><strong>Country:</strong> {{ profile.country }}</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}